/* Common styles */
:root {
     --primary-color:#2E2F42;
     --color:#4048BF;
     --color-button:#4D5AE5;
     --secondary-color:#434455;
     --color-white: #FFFFFF;
     --light-grey-color: #F4F4FD;
}
body {
     font-family:  "Roboto", sans-serif;
     color: var(--secondary-color);
   background-color: var(--color-white);
          }

   ol, ul {
    list-style: none;}    

a{
    font-style: none;
           }

    button {
        font-family: inherit;
        cursor: pointer;
    }




/* Header */
     
.logo-link {
    
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-transform: uppercase;
    color:  var(--color-button);
    font-family: "Raleway", sans-serif;
   

}
.link {
    text-decoration: none;}

.logo-dark {
    color: var(--primary-color);
}
    

    .list .header-list {
        list-style: none;
    }
    .header-list {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-color); }
       
     .link {
        text-decoration: none;
                     }
   
            
    .link:hover,
    .link:focus {
        color: #404bbf; 
     }

/* address */
.mail .contacts-list{
   font-style: normal;
}
.list .contacts-list {
 list-style: none;  
 
}

.contacts-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    font-style: normal;
}

.contacts-list {
    text-decoration: none;
}

.contacts-list:hover,
.contacts-list:focus {
 color: va#404bbf;
}


/* hero */

.section-hero {
 background: var(--primary-color);
 }
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--color-white);  
    text-align: center;
    letter-spacing: 0.02em;

     }

.hero-btn {
    color: var(--color-white);
    background:var(--color-button);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
    cursor: pointer;
}

/* benefits */

.benefits .list {  
    list-style: none;
    }

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    
     
}
.benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
 
   
}

/* made */

.made-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    }

.made .list {
    list-style: none;      
}




/* team */
   
.team-link {
background-color: var(--light-grey-color);
       }
.team-title {
    font-size: 36px;
    line-height:1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color);
    text-align: center;
    
    }
    .team list {
        list-style: none;
            }

.team-list {
    background-color: var(--color-white);
}         
.team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    background-color: var(--color-white);
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);

}

/* footer */
.footer {
    background-color: var(--primary-color);
}
.logo-light {
    color: var(--light-grey-color);
}
.footer-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--light-grey-color);

}


/* Portfolio */
.list .list-button {
list-style: none;}


.list-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-button);
background-color: var(--light-grey-color);
}


.button:hover,
.button:focus {
    color: #ffffff;
    background-color: #404bbf;
     cursor: pointer;
}

   
.list .services-link {
    list-style:none; 
 } 
 .services-list {
    text-decoration: none;
 }
 .services-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-color);


 }
.services-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color:var(--secondary-color);}












